@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400;1,500&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f3f4ed;
}




.text{
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 50px;
	margin-top: 0 !important;
}

#Header {
	padding-bottom: 20px;
	
;}
.navbar-nav { 
    margin-left: auto; 
 } 

 .navr-content {
 	padding-right: 30px;
 }


.nav-item {
	margin-right: 25px;
}

.nav-link {
	font-weight: 500;
    font-size: 16px;
}

 .head-container {
 	height: 500px;
 	margin: 30px;
    
 	margin-top: 10px !important;
 	border-radius: 10px;
 	background-color: #b985df !important;
 }
 .head-div {
 	padding-top: 100px !important;
 }
 .head-text {
 	font-size: 40px;
 	color: white;
 	margin-left: 60px;
    font-family: 'Josefin Sans', sans-serif;
    float: left;
 }
 .head-text1{
    font-size: 36px;
 	color: white;
 	margin-left: 5px;
 	float: left;
 }

 .head-img {
 	position: relative;
    float: right;
    height: 408px;
    width: 587px;
    /* top: -21px; */
    bottom: 8px !important;
    right: 43px;

 }

.head-div .btn {
	position: relative;
	top: 200px;
	right: 460px;
}




.container-fluid
{
	color: white;
	margin: 0% auto;
    padding: 7%;
	background-color: #94d3eb !important;
}

.icon-div {
	padding: 10%;
	color: #fff;
	border: 5px solid #fff !important;
	background-color: #1597bb !important;
	margin: 0 171px !important;
	transform: rotate(45deg);
	margin-bottom: 40px ! important;
}

.icon-div .fas{
	transform: rotate(-45deg);
	font-size: 30px;
    position: relative;
    right: 7px;
}

.count-tit {
	color: white;
	font-size: 38px;
    font-weight: 500;
}

.count-text {
	color: white;
	font-size: 16px;
    font-weight: 500;
}












 #selection {
 	padding: 90px 20px 80px;
 }
 .outer-row {
 	padding: 40px;
 }
.selection_Ltext {
 	padding: 6px;
 	padding-top: 20px !important;
 }

 .choose-text {
 	font-size: 32px;
 	font-weight: 500;
 	text-align: center;
 }

 .card-img-top {
 	margin: 25px auto;
    color: #0d6efd;
 }
 .card {
 	background-color: #1e212d;
 	text-align: center;
 }
 .card-body{
 	color: white;
 }
 .img-choose{
 	display: block;
 	margin-top: 10px ;
 	margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
 }
 .choose-t1 {
 	font-size: 24px !important;
 	font-weight: 500;
 	text-align: left;
 	margin-top: 25px;
 	margin-left: 10px;
    font-family: 'Berkshire Swash', cursive;
 }



#footer {
	padding-top: 25px;
	background-color: #276678;
	color: white;
	padding-bottom: 40px;
}

.footer-para {
	font-size: 20px;
	justify-content: center;
	position: relative;
    right: 26px;
    top: 38px;
}

.footer-heading {
	text-align: center;
	font-size: 34px;
	font-weight: 500;
	
}
.footer-subheading {
    margin-bottom: 55px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}
.follow-us {
	font-size: 16px;
	font-weight: 500;
}
.follow-title{
	font-size: 23px;
	    margin-bottom: 33px;
}
.send-title {
	font-size: 22px;
	font-weight: 500;
	margin-top: 81px;
	text-align: center;
}
.input-div {
	padding-left: 25px;
}
input.input {
	margin-top: 10px;
	border-radius: 21px;
	padding-left: 9px;
	height: 38px;
	outline: none;
	width: 217px;
}

.contact-title{
	font-size: 23px;
	text-align: center;
	margin-bottom: 22px;
}
.text1 {
	font-size: 16px;
	font-weight: 400;
}
.ic {
	    padding-left: 78px !important;
}